/* DEBUT STYLE FOOTER */
footer
{
	background-color: #F2F2F2;
	display: flex;
	justify-content: space-around;
	position: relative;
	padding-top: 40px;
}

.blockEnLigne
{
	display: inline-block;
}

/* Afficher masquer block cookie */
#container
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#cookie
{
	display:none;
	background: #F2F2F2;
	padding:1%;
}

#afficher:target #cookie
{
	display: block;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%);
	width:98%;
}

.masquer
{
	display:none;
}

#afficher:target .masquer
{
	display:inline;
}

#afficher:target .afficher
{
	display:none;
}

/* Afficher masquer block politique confidentialite*/
#polConfidence
{
	display:none;
	background: #F2F2F2;
	padding:1%;
}

#afficher2:target #polConfidence
{
	display: block;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%);
	width:98%;
}

.masquer2
{
	display:none;
}

#afficher2:target .masquer2
{
	display:inline;
}

#afficher2:target .afficher2
{
	display:none;
}

/* Politique infos personnelles*/
#polInfoPerso
{
	display:none;
	background: #F2F2F2;
	padding:1%;
}

#afficher3:target #polInfoPerso
{
	display: block;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%);
	width:98%;
}

.masquer3
{
	display:none;
}

#afficher3:target .masquer3
{
	display:inline;
}

#afficher3:target .afficher3
{
	display:none;
}

/* FIN STYLE FOOTER */
